# Example

In [1]:
import pandas as pd
import numpy as np
import cupy as cp
from sc_jnmf import sc_JNMF

np.random.seed(1)
cp.random.seed(1)

### import the data (gene expression profile quanified by different methods)

In [2]:
df1 = pd.read_csv("../test_data/Pollen_default.csv", index_col=0)
df2 = pd.read_csv("../test_data/Pollen_reprocess.csv", index_col=0)
label = [i.split('_')[0] for i in df1.columns]
df1.columns = label
df2.columns = label

In [3]:
df1.head()

,HL60,GW21+2,HL60,GW16,Kera,BJ,GW21+2,GW21,GW16,2339,...,GW16,GW16,Kera,BJ,iPS,Kera,2338,HL60,Kera,GW16
A1BG,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.00,0.0,0.77,...,0.0,0.0,0.0,1.63,1.61,0.0,0.00,0.0,0.0,0.00
A1BG-AS1,0.0,0.0,0.0,0.00,0.0,0.0,123.61,0.00,0.0,0.00,...,0.0,0.0,0.0,13.34,0.00,0.0,3.47,0.0,0.0,0.00
A1CF,0.0,0.0,0.0,0.12,0.0,0.0,0.00,0.00,0.0,0.00,...,0.0,0.0,0.0,0.00,0.00,0.0,0.00,0.0,0.0,0.00
A2LD1,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.00,0.0,0.00,...,0.0,0.0,0.0,0.00,0.00,0.0,0.00,0.0,0.0,0.33
A2M,0.0,0.0,0.0,0.00,0.0,0.0,6.67,5.07,0.0,0.00,...,0.0,0.0,0.0,0.00,0.00,0.0,0.00,0.0,0.0,0.00

In [4]:
df2.head()

,HL60,GW21+2,HL60,GW16,Kera,BJ,GW21+2,GW21,GW16,2339,...,GW16,GW16,Kera,BJ,iPS,Kera,2338,HL60,Kera,GW16
MT-TT,65.5678,0.0000,52.6264,26.5533,65.4145,0.0000,0.000,206.430,92.1051,36.4242,...,270.3900,0.000000,266.1970,0.0000,255.7840,0.0000,13.5307,166.095,349.491,142.056
MT-TS2,0.0000,0.0000,64.3211,0.0000,0.0000,0.0000,0.000,0.000,0.0000,21.8545,...,0.0000,0.000000,177.4650,98.1744,95.9191,33.2187,31.9817,0.000,522.079,0.000
MT-TH,120.2080,0.0000,0.0000,0.0000,0.0000,0.0000,0.000,0.000,0.0000,0.0000,...,0.0000,0.000000,26.6197,75.5187,47.9595,27.6822,0.0000,0.000,0.000,0.000
MT-ND4,8225.5500,336.6070,966.5270,380.4420,1655.2000,2399.6800,1334.090,968.274,1293.6300,2400.1000,...,6880.0200,0.475512,2690.3900,4087.5000,3345.8000,1961.1700,4200.9200,9153.460,2579.020,2332.800
MT-ND3,2440.6100,80.1797,1001.2900,593.2920,226.1870,27.8786,139.886,271.953,0.0000,514.6270,...,31.4221,0.000000,587.4830,362.3130,766.5540,395.0910,245.5920,1734.980,475.759,438.010

### pass the data to sc_JNMF class

In [5]:
sc_jnmf = sc_JNMF(df1, df2, rank=8,
                  lambda1=df1.shape[0] / df2.shape[0],
                  lambda4=10)

### performe the gene selection as preprocessing

In [6]:
sc_jnmf.gene_selection()

### transform the data to log scale

In [7]:
sc_jnmf.log_scale()

### normalize the data

In [8]:
sc_jnmf.normalize()

### performe joint matrix factorization

In [9]:
sc_jnmf.factorize()

start matrix factorization ......
finished!!

### performe cell clustering

In [10]:
sc_jnmf.clustering(cluster_num=len(np.unique(label)))

### confirme the clustering result

In [11]:
sc_jnmf.cluster

array([10,  3, 10,  4,  9,  8,  3,  3,  2,  6, 10, 10, 10,  2,  8,  8,  7,
       10,  9,  8,  3,  1,  4,  8,  3,  8,  7, 10,  9, 10, 10,  1,  6,  9,
        6,  3, 10,  3,  5, 10,  9,  9,  3,  8,  9, 10,  6,  8,  6,  5,  6,
        1,  1,  9,  4, 10,  7,  8, 10,  9,  9,  5,  4,  5,  7,  8,  6,  7,
        8,  2,  3,  9,  8,  9, 10, 10,  1,  9,  6, 10, 10,  9,  8, 10,  7,
        9,  3,  8,  9,  4,  9,  1,  1, 10,  9,  9,  3,  3,  8, 10,  7,  9,
        9,  7,  8,  6,  6, 10,  2, 10,  9,  8,  7, 10,  4, 10,  4,  9,  8,
        8,  8, 10, 10,  2,  2,  1,  9,  2, 10,  2,  9, 10,  6,  9,  1,  7,
        2, 10, 10,  5,  6,  5,  1,  8, 10,  2,  7,  7,  1,  1,  4,  5,  3,
        1,  1,  9,  3,  5,  6, 10,  1,  1,  7,  8,  6,  1,  9,  7,  7, 10,
        4,  8, 10,  7,  5, 10,  9,  3,  2,  8, 10, 10, 10,  9,  5,  2,  4,
        8,  8,  8, 10,  5,  2,  1, 10,  8, 10,  8, 10,  4,  6,  1, 10,  5,
       10, 10, 10,  9,  2,  3,  8, 10, 10,  8,  1,  2,  7,  6,  7,  8,  8,
        1,  7, 10, 10,  9,  6,  8, 10,  9,  3,  4,  4,  3,  5,  1,  9, 10,
        9,  5,  5,  7,  8,  8,  7,  1,  9,  4,  9,  4,  4,  9,  8,  1,  9,
        7, 10,  9,  4], dtype=int32)

### compare the result to the true label

In [12]:
from sklearn.metrics.cluster import adjusted_rand_score

ari = adjusted_rand_score(label, sc_jnmf.cluster)
print("ARI:", ari)

ARI: 0.9434870224766149